<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="about">
        <h2>About</h2>
        <a href="index.html" style="text-decoration: none;">
            <button style="background-color: rgb(76, 76, 78); color: white; padding: 10px 20px; border: none; cursor: pointer;">Back</button>
          </a>
          <h3>About the Creator</h3>
          <p>
              This weather app is created by <span id="creatorName">Pavel Gjorgjievski</span>.
              If you have any questions or feedback, you can reach out to the creator via email at
              <a href="mailto:gjorgjievskipavel@gmail.com" id="creatorEmail">gjorgjievskipavel@gmail.com</a>.
          </p>
  
          <h3>About the Weather App</h3>
          <p>
              Welcome to our hourly weather forecast app! Stay updated with accurate weather information,
              including temperature, weather conditions, and wind speed. Plan your day effectively with
              the detailed hourly forecast provided.
          </p>
      </section>
</body>
</html>